<div class="ui segment">
  <div class="ui container">
    <h3>ÚČET</h3>
    <% posts.forEach(post => {%> <%})%>
    <center>
      <h4><%- user.username%></h4>
      <img class="ui small bordered image" src="/public/images/user.png" />
      <%if(user.admin) { %>
      <div class="ui statistics">
        <div class="statistic">
          <div class="value" id="postsCelkem">0</div>
          <div class="label">zaznamy</div>
        </div>

        <div class="statistic">
          <div class="value" id="lidiCelkem">0</div>
          <div class="label">Lidi</div>
        </div>

        <div class="statistic">
          <div class="value" id="castkaCelkem" ">0</div>
          <div class="label">Castka celkem</div>
        </div>

        <div class="statistic">
          <div class="value" id="zaplacenoCelkem" style="color:green;">0</div>
          <div class="label">Zaplaceno celkem</div>
        </div>

        <div class="statistic">
            <div class="value" id="nezaplacenoCelkem" style="color:red;">0</div>
            <div class="label">Nezaplaceno celkem</div>
          </div>

      </div>
      <% } %>
    </center>
    <div class="ui divider"></div>
    <button onclick="window.location.href = '/logout' " class="ui button" style="margin:2em;">
      Odhlásit
    </button>
  </div>
</div>

<script>
  let castka = 0;
    <% posts.forEach(post => { %>
      castka = castka + parseFloat(<%- post.castka%>);
      console.log("CASTKA: " + castka);
  <% }) %>

  let zaplaceno = 0;
  <% posts.forEach(post => { %>
    <% if(post.status == 1) { %>
        zaplaceno = zaplaceno + parseFloat(<%- post.castka%>)
        <% } else { %>
            zaplaceno = zaplaceno + parseFloat(<%- post.zaplaceno%>)
            <% }%>
            console.log("Zaplaceno :" + zaplaceno);
    <% })%>
        let nezaplaceno = castka - zaplaceno;

    document.getElementById("castkaCelkem").innerHTML = castka + ",-";
    document.getElementById("zaplacenoCelkem").innerHTML = zaplaceno + ",-";
    document.getElementById("postsCelkem").innerHTML = <%- posts.length %> ;
    document.getElementById("lidiCelkem").innerHTML = <%- people.length %> ;
    document.getElementById("nezaplacenoCelkem").innerHTML = nezaplaceno + ",-"
</script>
