<%- include('subnav') %>
<div class="ui segment">
    <table id="peopleTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>bilance</th>
            <th>jméno</th>
            <th>...</th>
          </tr>
        </thead>
        <tbody>
            <% people.forEach(person => { %>
            <tr>
                <td> <%- person.personalId %> 
                </td>
                <td><%- person.bilance %>,- Kč</td>
                <td><a href="/person/get/<%-person._id%>"> 
                         <%- person.name %> 
                    </a>  </td>
                
                <td><i></i> <i></i> <i></i></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
</div>

<div class="ui container"></div>
