<% if(user.admin) { %>
<%- include('subnav') %>
<% } %>
<div class="ui segment">
    <h3><%- person.name %></h3>
  <div class="ui divider"></div>
  <div class="ui statistics">
    <div class="statistic">
      <div class="value" id="postsCelkem">0</div>
      <div class="label">zaznamy</div>
    </div>

    <div class="statistic">
      <div class="value" id="castkaCelkem" ">0</div>
      <div class="label">Castka celkem</div>
    </div>

    <div class="statistic">
      <div class="value" id="zaplacenoCelkem" style="color:green;">0</div>
      <div class="label">Zaplaceno celkem</div>
    </div>

    <div class="statistic">
        <div class="value" id="nezaplacenoCelkem" style="color:red;">0</div>
        <div class="label">Nezaplaceno celkem</div>
      </div>
  </div>
      <div class="ui divider" style="visibility:hidden;"></div>
    <h4>Záznamy</h4>
    <table id="peopleTable">
      <thead>
        <tr>
        <th>ID</th>
        <th>status</th>
        <th>datum</th>
        <th>castka / zaplaceno</th>
      </tr>
    </thead>
    <tbody>
      <% personPosts.forEach(post => { %>
      <tr>
          <td> <%- post.zid %> 
          </td>
          <%if (post.status == 0) {%>
          <td style="color: red;"> NOT OK</td>
            <%} else {%>
              <td style="color:green">OK</td>
              <% } %>
          <td>
            <a href="/posts/get/<%-post._id%>"> 
            <%-post.createdAt.toISOString().replace("T", " ").replace("Z", " ").substring(11,16)%> <%-post.createdAt.toISOString().replace("T", " ").replace("Z", " ").substring(8,10)%>.<%-post.createdAt.toISOString().replace("T", " ").replace("Z", " ").substring(5,7)%>.
              </a>
            </td>
          <td> 
            <b><%- post.castka %> </b>,- / <%-post.zaplaceno%> ,-
          </td>
      </tr>
      <% }) %>
  </tbody>
</table>
</div>


<script>
  let castka = 0;
    <% personPosts.forEach(post => { %>
      castka = castka + parseFloat(<%- post.castka%>);
      console.log("CASTKA: " + castka);
  <% }) %>

  let zaplaceno = 0;
  <% personPosts.forEach(post => { %>
    <% if(post.status == 1) { %>
        zaplaceno = zaplaceno + parseFloat(<%- post.castka%>)
        <% } else { %>
            zaplaceno = zaplaceno + parseFloat(<%- post.zaplaceno%>)
            <% }%>
            console.log("Zaplaceno :" + zaplaceno);
    <% })%>
        let nezaplaceno = castka - zaplaceno;

    document.getElementById("castkaCelkem").innerHTML = castka + ",-";
    document.getElementById("zaplacenoCelkem").innerHTML = zaplaceno + ",-";
    document.getElementById("postsCelkem").innerHTML = <%- personPosts.length %> ;
    document.getElementById("nezaplacenoCelkem").innerHTML = nezaplaceno + ",-"
</script>
