<%- include('subnav') %> <%- post._id %>
<div class="ui segment">
  <div class="ui container">
    <div class="ui segment">
      <h4>
        <%-post.createdAt.toISOString().replace("T", " ").replace("Z", " ").substring(12,17)%> <%-post.createdAt.toISOString().replace("T", " ").replace("Z", " ").substring(7,10)%>.
        <%-post.createdAt.toISOString().replace("T", " ").replace("Z", " ").substring(5,7)%>.
      </h4>
      <form action="/posts/update/<%-post._id%>" method="POST" class="ui form">
        <div class="sixteen wide field">
          <label>Člověk</label>
          <select name="person" class="ui selection dropdown" style="background: white" disabled>
            <option value="<%-post.person%>"><%- post.personName %></option>
          </select>
        </div>
        <div class="fields">
          <div class="six wide field">
            <label for="">Částka ,- Kč</label>
            <input type="Number" name="castka" value="<%- post.castka %>" disabled />
          </div>
          <div class="six wide field">
            <label for="" id="status-select">Status</label>
           <select name="status" class="ui selection dropdown" onchange="statusChanged(value)">
            <% if(post.status == 0) { %>
                <option value="0" style="color: red" selected>NOT OK</option>
                <option value="1" style="color: green">OK</option>
                <% } %> <% if(post.status == 1) { %>
                <option value="0" style="color: red" disabled>NOT OK</option>
                <option value="1" style="color: green" selected>OK</option>
                <% } %>
           </select>
          </div>
          <div class="six wide field" id="zaplaceno">
            <label>Zaplaceno ,- Kč</label>
            <input type="number" name="zaplacenonew" id="zaplacenonew" value="<%- post.zaplaceno%>"/>
          </div>
        </div>
        <div class="sixteen wide field">
          <label>Komentář</label>
          <textarea rows="2" name="comment"></textarea>
        </div>
        <input type="text" name="zaplaceno" value="<%- post.zaplaceno%>" hidden />
        <input type="Number" name="castka" value="<%- post.castka %>" hidden />
        <input type="text" name="_id" value="<%- post._id%>" hidden />
        <input type="text" name="person" value="<%- post.person%>" hidden />
        <button type="sender" class="ui button">Uložit</button>
      </form>
    </div>
  </div>
</div>

<script>
    
    function statusChanged(value) {
     if (value == 1) {
       document.getElementById("zaplaceno").style.display = "none";
     } else {
      document.getElementById("zaplaceno").style.display = "block";
     };
    };
    
    statusChanged(<%- post.status %>)
    </script>